h1 {
    color: white;
    padding: 15px;
    background-color: #4aaaa5;
    width: 235px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.about {
    color: #777777;
    padding: 10px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.portfolio {
    color: #777777;
    padding: 10px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.contact {
    color: #777777;
    padding: 10px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}