body {
    margin: 0px;
    background: url("../images/scales.png");
    background-repeat: repeat;
}
h1 {
    position: fixed;
    top: 0px;
    left: 49px;
    color: white;
    margin: 0px 150px;
    padding: 30px;
    background-color: #4aaaa5;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h2 {
    color: #4aaaa5;
    padding: 20px;
    padding-bottom: 1.5rem;
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    margin: 0px 25px 25px 0px;
    float: left;
}
.bodyContainer {
    height: 100%;
    width: 100%;
}
.mytext {
    color: #777777;
    font-size: 20px;
    clear: right;
}
.headContainer {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    padding: 8px;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    background-color: white;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
}
.family {
    position: relative;
}
.about {
    position: absolute;
    top: 0px;
    right: 390px;
    color: #777777;
    padding: 1px 15px;
    margin: 25px 0px 25px 25px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.portfolio {
    position: absolute;
    top: 0px;
    right: 290px;
    color: #777777;
    padding: 1px 15px;
    border-left: 1px solid #dddddd;
    margin: 25px 10px 25px 25px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.contact {
    position: absolute;
    top: 0px;
    right: 190px;
    color: #777777;
    padding: 1px 15px;
    border-left: 1px solid #dddddd;
    margin: 25px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.container {
    margin: 180px 200px 150px 175px;
    padding: 20px;
    width: 960px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.firstGame {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    background-image: url("../images/CatMouse.jpg");
    background-size: 100%;
    background-position: center;
    display: block;
    width: 250px;
    height: 135px;
}
.firstGame:hover {
    opacity: 0.5;
    text-decoration: underline;
    cursor: pointer;
}
.nameTitle {
    margin-bottom: 10px;
    color: #777777;
}
.emailTitle{
    margin-bottom: 10px;
    color: #777777;
}
.messageTitle {
    margin-bottom: 10px;
    color: #777777;
}
.test {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
}
.nameBox {
    padding: 5px 8px;
    margin-bottom: 15px;
}
.nameBox:focus {
    border: 3px dotted #4aaaa5;
}
.emailBox {
    padding: 5px 8px;
    margin-bottom: 15px;
}
.emailBox:focus {
    border: 3px dotted #4aaaa5;
}
.messageBox {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    height: 200px;
    margin-bottom: 20px;
    resize: none;
}
.messageBox:focus {
    border: 3px dotted #4aaaa5;
}
.submit {
    color: white;
    border: none;
    background-color: #4aaaa5;
    width: 95px;
    text-align: center;
    padding: 10px 20px;
}
.submit:hover {
    cursor: pointer;
}
.bottom {
    position: relative;
}
.feet {
    position: absolute;
    color: #ececec;
    bottom: 0px;
    padding: 39px 22px 5px 22px;
    width: 97.25%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #666666;
    text-align: center;
    vertical-align: baseline;
    border-top: 10px solid #4aaaa5;
}